#root {
    display: inherit;
    gap: 4rem;
    padding: 4rem;
    width: 100%;
}

aside {
    flex: 0.25;

    & > menu {
        display: flex;
        flex-direction: column;
        gap: 1px;

        margin: 0;
        padding: 0;

        & > button {
            i {
                color: var(--grey-light);
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;

    flex: 0.75;
    gap: 1em;
}
